.gender_Male {
    background-image: url("../icon/male.png");
    background-size:cover;
    position:absolute;
    width:25px;
    height:25px;
}

.gender_Female {
    background-image: url("../icon/female.png");
    background-size:cover;
    position:absolute;
    width:25px;
    height:25px;

}